.container-fluid
  .row
    img.center-block.img-responsive(src="鄭南榕.jpg" alt="我叫做鄭南榕，我主張台灣獨立")

  .row#preview_container
    #preview.center-block(html2canvas="preview")
      .text-center(ng-style="textStyle")
        | 我叫做
        span(ng-bind="name")
        |，我主張台灣獨立

      .text-right(ng-style="signStyle")
        span#dash —
        span(ng-bind="name")
        |(
        span(ng-bind="birthday")
        |-
        span(ng-bind="deathday")
        |)
  .row
    .col-xs-12
      form#preview_form.center-block(role="form" name="previewForm" ng-submit="index.submit()")
        .form-group
          label 姓名
          input.form-control(type="text" name="name" ng-model="name" required)
        .form-group
          label 生日
          input.form-control(type="text" name="birthday" ng-model="birthday" required)
        .form-group
          label 忌日
          input.form-control(type="text" name="deathday" ng-model="deathday")
        .form-group
          label(tooltip="發佈至「圖集」，請點上方導覽列連結") 同時公開發佈？
          input(type="checkbox" name="shouldUpload" ng-model="shouldUpload")
        .btn-group    
          button.btn.btn-primary(type="submit") 下載為FB封面相片