header.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
  .container
    .navbar-header
      button.navbar-toggle(type="button" ng-click="isCollapse = !isCollapse")
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href="https://github.com/tomchentw/independence" target="_blank" ng-bind="name | independence") 我叫做鄭南榕，我主張台灣獨立

    .navbar-collapse(collapse="!isCollapse")
      ul.nav.navbar-nav
        li
          a(href="https://imgur.com/a/4bNs8" target="_blank") 圖集
